@import "../../assets/scss/";

.select {
    @import "../../assets/scss/core/defaults.scss";
    position: relative;
    width: 100%;
    overflow: hidden;
    height: calc(#{$_content-font-size} * 4);
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    label {
        position: absolute;
        width: 100%;
        height: calc(#{$_content-font-size} * 2);
        z-index: 1;

        left: 0;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        border-bottom: 1px solid $_primary-color;

        span {
            transition: all 0.3s ease;
            height: min-content;
        }

        &:not(.error) {
            &::after {
                border-bottom: 3px solid $_secondary-color;
            }
        }

        &.error {
            &::after {
                border-bottom: 3px solid $_error-color;
            }
        }

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            bottom: -1px;
            transform: translateX(-100%);
            transition: all 0.3s ease;
            z-index: 2;
        }
    }

    .DropdownArrow {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    select {
        // remove existing arrow
        appearance: none;
        // handles removing arrow on older IE versions
        &::-ms-expand {
            display: none;
        }
        // clear visuals
        outline: none;
        background-color: transparent;
        border: none;

        // adds space for the new arrow
        padding: 0 1em 0 0;

        width: 100%;

        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        &:focus + label span,
        &.selected + label span {
            transform: translateY(-150%);
            font-size: 14px;
        }

        &:focus + label::after {
            transform: translateX(0%);
        }

        &:not(.error) {
            &:focus + label span {
                color: $_secondary-color !important;
            }
        }

        &.error {
            &:focus + label span {
                color: $_error-color;
            }
        }
    }
    .error-message {
        position: absolute;
        top: calc(100% - #{$_content-font-size});
        left: 0;
        padding: 0;
        font-size: calc(#{$_content-font-size} * 0.75);
        z-index: 10;
        color: $_error-color;
    }
}
