@import "../../assets/scss/";

div.input-container {
    @import "../../assets/scss/defaults.scss";
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    overflow: hidden;
    transition: all 0.3s ease;

    &:focus-within {
        transform: scale(1.01);
        div.error-message {
            top: calc(100% - #{$_content-font-size} + 1px);
        }
    }

    * {
        font-family: $_content-font-family;
    }

    &:not(.error) {
        align-items: flex-end;
        height: calc(#{$_content-font-size} * 3);
    }

    &.error {
        align-items: center;
        height: calc(#{$_content-font-size} * 3.75);

        label {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    input {
        font-size: $_content-font-size;
        border-radius: 5px;
        border: none;
        padding-bottom: 2px;
        outline: none;

        width: 100%;
        height: calc(#{$_content-font-size} * 2);

        &[type="date"] + label span {
            transform: translateY(-150%);
            font-size: $_root-font-size;
        }

        &:not([type="date"]) {
            &:focus + label span,
            &:valid + label span,
            &.has-input + label span {
                transform: translateY(-150%);
                font-size: $_root-font-size;
            }
        }

        &:focus + label::after,
        &:valid + label::after,
        &.has-input + label::after {
            transform: translateX(0%);
        }

        &:not(.error) {
            &:focus + label span,
            &:valid + label span,
            &.has-input + label span {
                color: $_secondary-color !important;
            }
        }

        &.error {
            &:focus + label span,
            &:valid + label span,
            &.has-input + label span {
                color: $_error-color;
            }
        }
    }

    label {
        position: absolute;
        width: 100%;
        height: calc(#{$_content-font-size} * 2);
        pointer-events: none;
        border-bottom: 1px solid $_primary-color;

        &:not(.error) {
            &::after {
                border-bottom: 3px solid $_secondary-color;
            }
        }

        &.error {
            &::after {
                border-bottom: 3px solid $_error-color;
            }
        }

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            bottom: -1px;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }

        span {
            position: absolute;
            bottom: 10px;
            left: 0px;
            transition: all 0.3s ease;
            // text-transform: capitalize;
        }
    }

    .error-message {
        position: absolute;
        top: calc(100% - #{$_content-font-size});
        left: 0;
        padding: 0;
        p {
            font-size: calc(#{$_content-font-size} * 0.75);
        }
        color: $_error-color;
        transition: all 0.3s ease;
    }
}
