$themes: (
    owd: (
        primary-color: #fea800,
        secondary-color: #878b8c,
        accent-color: #000000,
        highlight-color: #ffffff,
        bg-color: #ffffff,
        secondary-bg-color: #f3f3f3,
        root-font-size: 16px,
        header-font-family: Arimo,
        header-font-style: Bold,
        header-letter-spacing: 16px,
        header-line-height: 1.2rem,
        content-font-family: Roboto,
        content-font-style: Regular,
        content-letter-spacing: 16px,
        content-line-height: 1.2rem,
        accent-font-style: italic,
    ),
    default: (
        primary-color: #000000,
        secondary-color: #61dafb,
        accent-color: #ffffff,
        bg-color: #ffffff,
        secondary-bg-color: #f3f3f3,
        root-font-size: 16px,
        header-font-family: Montserrat,
        header-font-style: Regular,
        header-letter-spacing: 2px,
        header-line-height: 1.2rem,
        content-font-family: Roboto,
        content-font-style: Regular,
        content-letter-spacing: 1px,
        content-line-height: 1.2rem,
        content-font-size: 1.5rem,
        accent-font-style: italic,
    ),
);
