@import "../../assets/scss";

form.form-container {
    @import "../../assets/scss/defaults.scss";
    min-height: max-content;
    padding: 2rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;

    &.card {
        background-color: $_bg-color;
        border-radius: 2rem;
        box-shadow: 4px 8px 8px 4px rgba(44, 44, 44, 0.2);
    }

    .form--contents {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        width: 100%;

        & > *:not(.select-container) {
            &,
            *,
            & > * {
                z-index: 4;
            }
        }
    }

    .form-button-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &.buttons--multiple {
            justify-content: space-evenly;
        }

        &.buttons--single {
            justify-content: flex-start;
        }

        align-items: center;
    }
}
