@import "../../assets/scss";

.button-container {
    @import "../../assets/scss/core/defaults.scss";
    border-radius: 5px;
    box-shadow: 4px 8px 8px rgba(43.9, 43.9, 43.9, 0.2);
    transition: all 0.3s ease;
    outline: none;
    text-align: center;
    font-size: $_content-font-size;
    text-transform: uppercase;

    &:not(:disabled) {
        border: none;
    }

    &.button--primary {
        &:not(:disabled) {
            background-color: $_primary-color;
            color: white;
        }

        &:disabled {
            color: $_secondary-color;
            background-color: white;
            border: 2px solid $_primary-color;
        }
    }

    &.button--secondary {
        background-color: $_secondary-color;
        color: white;
        &:hover {
            transform: scale(1.05);
        }

        &:disabled {
            color: $_secondary-color;
            background-color: white;
        }
    }

    &.button--small {
        padding: 0.5rem 2.5rem;
    }

    &.button--medium {
        padding: 0.5rem 3rem;
    }

    &.button--large {
        padding: 0.75rem 4rem;
    }

    &:hover {
        z-index: 100;
        transform: scale(1.01);
        box-shadow: 4px 8px 10px rgba(43.9, 43.9, 43.9, 0.5);
        cursor: pointer;
    }
}
