@import "../../assets/scss/";

div.Input {
    @import "../../assets/scss/core/defaults.scss";
    position: relative;
    height: calc(#{$_content-font-size} * 4);

    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-width: 200px;
    max-width: 95%;
    overflow: hidden;

    * {
        font-family: $_content-font-family;
    }

    input {
        font-size: $_content-font-size;
        border-radius: 5px;
        border: none;
        padding-bottom: 2px;
        outline: none;

        width: 100%;
        height: calc(#{$_content-font-size} * 2);

        &:focus + label span,
        &:valid + label span {
            transform: translateY(-150%);
            font-size: 14px;
        }

        &:focus + label::after,
        &:valid + label::after {
            transform: translateX(0%);
        }

        &:not(.error) {
            &:focus + label span,
            &:valid + label span {
                color: $_secondary-color !important;
            }
        }

        &.error {
            &:focus + label span,
            &:valid + label span {
                color: $_error-color;
            }
        }
    }

    label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: calc(#{$_content-font-size} * 2);
        pointer-events: none;
        border-bottom: 1px solid $_primary-color;

        &:not(.error) {
            &::after {
                border-bottom: 3px solid $_secondary-color;
            }
        }

        &.error {
            &::after {
                border-bottom: 3px solid $_error-color;
            }
        }

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            bottom: -1px;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }

        span {
            position: absolute;
            bottom: 10px;
            left: 0px;
            transition: all 0.3s ease;
            // text-transform: capitalize;
        }
    }

    .error-message {
        position: absolute;
        top: calc(100% - #{$_content-font-size});
        left: 0;
        padding: 0;
        font-size: calc(#{$_content-font-size} * 0.75);
        z-index: 10;
        color: $_error-color;
    }
}
