@import "../../assets/scss";

.file-input {
    @import "../../assets/scss/core/defaults.scss";

    border-radius: 5px;
    transition: all 0.3s ease;

    *,
    & {
        background-color: white;
        box-sizing: border-box;
    }

    label {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 1rem;

        &::after {
            transition: all 0.3s ease;
            position: absolute;
            top: 0;
            left: 0;
            content: " ";
            width: 100%;
            height: 100%;
            border: 2px dashed $_primary-color;
        }

        font-size: 1.2rem;
        transition: all 0.3s ease;
        color: $_primary-color;

        & > *:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        input {
            display: none;
        }

        & > *:not(input) {
            pointer-events: none;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover,
        &.drag {
            &::after {
                transform: scale(1.01);
                border-color: $_secondary-color;
            }

            .img-container {
                transform: scale(1.05);
            }
        }

        p {
            margin: 0 0;
            font-size: calc(#{$_content-font-size} * 0.75) !important;
            text-align: center;
            color: $_primary-color;
        }

        .img-container {
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: all 0.3s ease;

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}
