@import "../../assets/scss";

.radio-container {
    @import "../../assets/scss/core/defaults.scss";
    position: relative;
    *,
    & {
        box-sizing: border-box;
        transition: all 0.3s ease;
    }

    &:focus {
        outline: none;
        transform: scale(1.01);
    }

    input[type="radio"] {
        opacity: 0;
        position: absolute;

        & + label::before {
            content: "";
            border: 2px solid $_primary-color;
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            margin-right: 10px;
            margin-top: -3px;
            text-align: center;
            overflow: hidden;

            background-image: linear-gradient(
                $_secondary-color,
                $_secondary-color
            );
            background-position: 52% 52%;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-size: 0% 0%;

            transition: background-size 0.1s ease;
        }

        &:checked + label::before {
            border: none;
            box-shadow: inset 0px 0px 0px 0px $_secondary-color;
            background-size: 100% 100%;
        }
    }

    label {
        position: relative;
    }

    input[type="radio"],
    label {
        font-size: 1.2rem;
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        cursor: pointer;
    }
}
