*,
& {
    box-sizing: border-box;
}

&:not(h1, h2, h3, h4, h5, h6, .button),
*:not(h1, h2, h3, h4, h5, h6, .button) {
    font-family: $_content-font-family;
    line-height: $_content-line-height;
    letter-spacing: $_content-letter-spacing;
    font-size: $_content-font-size;
}

// This does not apply to the element/selector that encases the import
h1,
h2,
h3,
h4,
h5,
h6,
.button {
    font-family: $_header-font-family;
    line-height: $_header-line-height;
    letter-spacing: $_header-letter-spacing;
}
