*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: $_root-font-size;
}

html,
* {
    margin: 0 0;
    padding: 0 0;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc($_root-font-size + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: calc($_root-font-size + 16px);
    }
}
