*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: $_root-font-size;
    max-width: 100%;
    min-height: 100vh;

    body {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}

html,
* {
    margin: 0 0;
    padding: 0 0;
}

a {
    color: $_primary-color;
    transition: all 0.3s ease;

    &:hover {
        color: $_secondary-color;
    }
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(#{_root-font-size} + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: calc(#{_root-font-size} + 16px);
    }
}
